.menu__lista {
	display: flex;
	list-style: none;
	padding-inline-start: 0;
}

.menu__item {
	margin-right: 32px;
}

.menu__item:last-child {
	margin-right: 0;
}

.menu__link {
	color: var(--cinza);
	font-size: 16px;
	font-weight: var(--font-normal);
	text-decoration: none;
}

@media screen and (min-width: 0) {
	.menu__lista {
		margin-bottom: 32px;
	}
}

@media screen and (min-width: 768px) {
	
}

@media screen and (min-width: 1024px) {
	.menu__lista {
		margin-left: 20px;
		margin-bottom: 0;
	}	
}