@import url(_menu.css);
@import url(_botoes.css);

.cabecalho {
	margin: 18px 80px;
}

.cabecalho__container {
	align-items: center;
	display: flex;
	justify-content: space-between;
}

.empresa {
	display: flex;
	align-items: center;
}

@media screen and (min-width: 0) {
	.cabecalho__container {
		flex-direction: column;
		padding: 0;
	}

	.empresa {
		margin-bottom: 25px;
	}

	.logo-branca {
		display: none;
	}
}

@media screen and (min-width: 768px) {
	
}

@media screen and (min-width: 1024px) {
	.cabecalho__container {
		flex-direction: row;
		padding: 0 32px;
	}

	.empresa {
		margin-bottom: 0;
	}

	.logo-branca {
		display: block;
	}
}