@import url(_formulario.css);

.rodape {
	align-items: center;
	background-color: #F9FAFB;
	display: flex;
	flex-direction: column;
	padding: 96px 0;
	text-align: center;
}

.rodape__titulo {
	color: var(--preto);
	font-size: 36px;
	font-weight: var(--bold);
	letter-spacing: -0.02em;
	margin: 20px 0;
}

.rodape__descricao {
	color: var(--cinza);
	font-size: 20px;
	font-weight: var(--soft);
	margin: 20px 0;
}

.rodape__copyright {
	color: var(--cinza);
	font-size: 16px;
	font-weight: var(--soft);
	margin: 32px 0;
}