.vagas {
	margin: 0 30px;
}

.vagas-abertas {
	margin: 0 auto;
}

.vaga__titulo {
	color: var(--preto);
	font-size: 20px;
	font-weight: var(--normal);
	margin: 32px 0;
}


.vaga {
	border: 1px solid #EAECF0;
	border-radius: 16px;
	display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto;
    margin: 24px 0;
    padding: 24px 28px 24px;
}

.vaga--nome {
	color: var(--preto);
	font-size: 18px;
	font-weight: var(--normal);
	grid-column: 1 / 3;
	margin-bottom: 32px;
}

.vaga--descricao {
	color: var(--cinza);
	font-size: 16px;
	font-weight: var(--normal);
	margin-right: 24px;
}

@media screen and (min-width: 0) {
	.vagas {
		display: flex;
		flex-direction: column;
	}
}

@media screen and (min-width: 1024px) {
	.vagas {
		display: block;
	}

	.vagas-abertas {
		width: 768px;
	}
}